/* Поправляет паддинг если убрать автатарку */
.chat-list .message-comp .message-user {
  padding: 4px 8px;
}

.chat-list .message-comp .message-join[data-v-068eb890] {
  padding: 4px 8px;
}

/* Убирает аватарку пользователя в чате */
.chat-list .message-comp .avatar {
  display: none;
}

/* Убирает сообщения об активностях, такие как Арена Бот */
.chat-list .message-activity[data-v-342eec3e] {
  display: none;
}

/* Убирает сообщения о касте маны в чате */
.chat-list .gift-message {
  display: none;
}

/* Убирает рейтинг пользователей, VIP ложу и еженедельный рейтинг */
.gift-rank-header {
  display: none;
}

/* Убирает всплывающие штуки над плеером >>но это не точно<< */
.pendant-wrap {
  display: none;
}

/* Убирает оповещение о счастливом пространстве */
.notification-container[data-v-64c2747c] {
  display: none;
}

/* Убирает всякие свиртопирдолины появляющиеся на чате, такие как каст маны */
.approach-effects[data-v-a9794494] {
  display: none;
}

/* Убирает рекламную карусель в заголовке над видеоплеером */
.room-title .carousel-wrap[data-v-f1acfff8] {
  display: none;
}

/* Убирает оповещении о арене */
.activity-notification[data-v-0bec4e53] {
  display: none;
}

li[data-v-02dd314a] {
  display: none;
}